# Choose your Organization
export TF_VAR_org_id=${MY_ORG_ID}

# Choose your Billing Account
export TF_VAR_billing_account=YOUR_BILLING_ACCOUNT_ID

# Folder that contains all projects for this demo
# If an appropriate folder doesn't already exist, please create one before
# continuing
export TF_VAR_folder_id=YOUR_PROJECT_FOLDER

# The Project ID where Terraform state and service accounts are created.
export TF_ADMIN_PROJECT=${USER}-terraform-admin

# Set bucket name for State files
export TF_ADMIN_BUCKET=${USER}-terraform-admin

# Set the path to the service account credentials file
export TF_CREDS=~/.config/gcloud/${USER}-terraform-admin.json

# Set default application credentials
export GOOGLE_APPLICATION_CREDENTIALS="${TF_CREDS}"

# Override the following project prefix if desired
export TF_VAR_project_prefix=pci-poc

# Set a domain name to use for self-signed or managed certificates.
# If you are using GCP managed certificates, make sure to pick a domain
# that you can control DNS records for
# export DOMAIN_NAME=myhipsterstore.example.com

# The name of the DLP De-identification template
# You will set this later in the demo instructions.
# export DEIDENTIFY_TEMPLATE_NAME=TBD

# The remote repository for the customized Fluentd Image
# You will set this later in the demo instructions.
# export FLUENTD_IMAGE_REMOTE_REPO=TBD
